<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOX_ESCOLAR</title>


  <!-- 
    - Scripts
  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/css/style2.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@600;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#">
        <h1 class="logo">BOX ESCOLAR</h1>
      </a>

      <a onclick="history.go(-1)" class="btn">
        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>

        <span onclick="history.go(-1)" >Voltar ao Inicio</span>
      </a>

      <button onclick="history.go(-1)" class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
        <ion-icon name="arrow-back-circle"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Que Pena! ._.</p>

            <h2 class="h2 hero-title">NÃO FOI DESSA VEZ TENTE NOVAMENTE!</h2>

            <p class="hero-text">
            </p>

            <button onclick="history.go(-1)" id="vk" class="btn"><-- VOLTAR AO INICIO!</button>


          </div>

          <figure class="hero-banner">
            <img src="../static/images/fff.png" width="694" height="529" loading="lazy" alt="hero-banner"
              class="w-100 banner-animation">
          </figure>

        </div>
      </section>






     


    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2022 <a href="https://www.instagram.com/thiago4macedo/" class="copyright-link">Thiago Macedo dos Santos</a>. Todos os direitos reservados.
      </p>
    </div>

  </footer>




  <!-- 
    - custom js link
  -->
  <script src="../static/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
