<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOX_ESCOLAR</title>


  <!-- 
    - Scripts
  -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@600;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#">
        <h1 class="logo">BOX ESCOLAR</h1>
      </a>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">
          <a href="#" class="logo">BOX ESCOLAR</a>

          <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-navbar-link>Inicio</a>
          </li>

          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-navbar-link>Sobre</a>
          </li>

          <li class="navbar-item">
            <a href="#historia" class="navbar-link" data-navbar-link>História</a>
          </li>


          <li class="navbar-item">
            <a href="#blog" class="navbar-link" data-navbar-link>Equipe</a>
          </li>


          <li class="navbar-item">
            <a href="#props" class="navbar-link" data-navbar-link>Propostas</a>
          </li>


          <li class="navbar-item">
            <a id="contat" class="navbar-link" data-navbar-link>Contate-nos</a>
          </li>


          <li class="navbar-item">
            <a href="#creds" class="navbar-link" data-navbar-link>Créditos</a>
          </li>

        </ul>

      </nav>

      <a href="donates" class="btn">
        <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>

        <span>Seja um doador!</span>
      </a>

      <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Você já conhece o projeto BOX ESCOLAR ?</p>

            <h2 class="h2 hero-title">O PROJETO BOX ESCOLAR FOI CRIADO EM 2019!</h2>

            <p class="hero-text">
             O projeto Box Escolar tem como proposito recolher equipamentos eletrônicos que não estejam mais funcionando ou em uso para a reutilização na robótica.
            </p>

            <button id="vk" class="btn">Faça um vaquinha para o projeto!</button>]
            
            <button id="vkk" class="btn">ACESSAR QR CODE PREMIAÇÃO!</button>

          </div>

          <figure class="hero-banner">
            <img src="../static/images/hero-banner.png" width="694" height="529" loading="lazy" alt="hero-banner"
              class="w-100 banner-animation">
          </figure>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src="../static/images/about-banner.png" width="700" height="532" loading="lazy" alt="about banner"
              class="w-100 banner-animation">
          </figure>

          <div class="about-content">

            <h2 class="h2 section-title underline">Sobre o projeto</h2>

            <p class="about-text">
             Em 2019 quando o projeto foi criado pela primeira vez na semana do SNCT, conseguimos recolher mais de 1000 equipamentos eletrônicos sem uso para reutilizarmos na robótica!
            </p>

            <p class="about-text">
              Não só usamos materiais eletrônicos descartaveis na robótica, mas também usamos materiais plásticos como
              Matéria prima para as impressoras 3D
              conseguimos produzir filamento a partir de garrafas pets!
            </p>

            <ul class="stats-list">

              <li class="stats-card">
                <p class="h3 stats-title">1456</p>

                <p class="stats-text">Total de Eletrônicos recolhidos</p>
              </li>

              <li class="stats-card">
                <p class="h3 stats-title">917</p>

                <p class="stats-text">Total de Plasticos recolhidos</p>
              </li>

              <li class="stats-card">
                <p class="h3 stats-title">3 ANOS 🥳🎉</p>

                <p class="stats-text">O projeto completa 3 Anos nesta semana do SNCT</p>
              </li>

            </ul>

          </div>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="historia">


        <div class="container">

          <h2 class="h2 section-title underline">História do projeto!</h2>

          <ul class="service-list">

            
            <form  id="form-id" onsubmit="func2()">
              <li>
                <div class="service-card">

                  <div id="cardcaixa2" class="card-icon">
                    <img id="caixa2" src="../static/images/carrr.png" width="1000" height="1000" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                  </div>

                  <h3 class="h3 title">CARRINHO FEITO COM CAIXA DE GUARDAR BRINQUEDO</h3>

                  <p class="text">
                   Este é um dos projetos que e possível fazer usando a criatividade e a reutilização de eletrônicos e material plastico ele utiliza motores de carrinhos antigos e rodinhas de plastico!
                  </p>

              

                  <button type="submit" id="like2" class="card-btn" aria-label="Show More">
                    
                    <ion-icon  name="heart-outline"></ion-icon>

                  </button>

                  <p id="amei2" class="amei">{{gosteis2}} CURTIDAS!</p>

                </div>
              </li>
          </form>












            <!---
               #ORGINAL
            -->



                  <form  id="form-id" onsubmit="func()">
                    <li>
                      <div class="service-card">

                        <div id="cardcaixa" class="card-icon">
                          <img id="caixa" src="../static/images/impre.jpeg" width="1000" height="1000" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                        </div>

                        <h3 class="h3 title">CAIXA DA REUTILIZAÇÃO</h3>

                        <p class="text">
                          Criado pela primeira vez em 2019 por um ex-aluno do Darcy Ribeiro, o projeto BOX ESCOLAR consiste na coleta de eletrônicos descatavel para os integrante do grupo separarem esses eletrônicos para uso na robótica, como forma de reaproveitar e sustentar o meio ambiente, E nesta semana do SNCT - Semana Nacional de Tecnologia, Vamos reviver este projeto para trazer a robótica sustentável para ajudar um ambiente poluído desde a Revolução Industrial das décadas de 1820 e 1840.
                        </p>

                    

                        <button type="submit" id="like" class="card-btn" aria-label="Show More">
                          
                          <ion-icon  name="heart-outline"></ion-icon>

                        </button>

                        <p id="amei" class="amei">{{gosteis}} CURTIDAS!</p>

                      </div>
                    </li>
                </form>

             <!---
               #ORGINAL
            -->
                



            





                <form  id="form-id" onsubmit="func3()">
                  <li>
                    <div class="service-card">

                      <div id="cardcaixa3" class="card-icon">
                        <img id="caixa3" src="../static/images/impree2.png" width="1000" height="1000" loading="lazy" alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                      </div>

                      <h3 class="h3 title">IMPRESSORA 2D FEITO COM BANDEJAS DE CD/DVD</h3>

                      <p class="text">
                        Esté e mais um projeto revolucionário feito de sucata de computador antigo, utilizando bandejas de cd/dvd e leitor de disquete antigo, assim sendo possivel fazer os movimentos dos eixos X Y Z, formando um desenho! 
                      </p>

                  

                      <button type="submit" id="like3" class="card-btn" aria-label="Show More">
                        
                        <ion-icon  name="heart-outline"></ion-icon>

                      </button>

                      <p id="amei3" class="amei">{{gosteis3}} CURTIDAS!</p>

                    </div>
                  </li>
              </form>
















          
            

          </ul>

        </div>




      </section>





     
      <!-- 
        - #BLOG
      -->

      <section class="section blog" id="blog">
        <div class="container">

          <h2 class="h2 section-title underline">EQUIPE ESCOLAR!</h2>

          <ul class="blog-list">

            <li>
              <div class="blog-card">

                <figure class="banner">
                  <a href="https://www.instagram.com/thiago4macedo/">
                    <img src="../static/images/blog-1.jpg" width="750" height="350" loading="lazy"
                      alt="Vestibulum massa arcu, consectetu pellentesque scelerisque." class="img-cover">
                  </a>
                </figure>

                <div class="content">

                  <h3 class="h3 title">
                    <a href="https://www.instagram.com/thiago4macedo/">
                                    THIAGO MACEDO
                    </a>
                  </h3>

                  <p class="text">
                   Eai Galera meu nome e Thiago Macedo sou Desenvolvedor de software lider do projeto e estou cursando o 2° ano do ensino médio! 🤖👨‍💻
                  </p>

                  <div class="meta">

                    <button onclick="window.location.href = 'https://www.instagram.com/thiago4macedo/';" class="publish-date">
                      <ion-icon name="logo-instagram"></ion-icon>

                      <time datetime="2022-03-07">Thaigo4macedo</time>
                    </button>




                    <button onclick="window.location.href = 'https://api.whatsapp.com/send?phone=5561992051433&text=Ol%C3%A1%20Thiago%20estou%20interresado%20em%20ajudar%20o%20projeto!!';" class="comment" aria-label="Comment">
                      <ion-icon name="logo-whatsapp"></ion-icon>

                      <data value="15">Whatsapp</data>
                    </button>

                

                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="banner">
                  <a href="https://www.instagram.com/joanderson_ffxx/">
                    <img src="../static/images/blog-2.jpeg" width="750" height="350" loading="lazy"
                      alt="Quisque egestas iaculis felis eget placerat ut pulvinar mi." class="img-cover">
                  </a>
                </figure>

                <div class="content">

                  <h3 class="h3 title">
                    <a href="https://www.instagram.com/joanderson_ffxx/">
                      Joanderson Castro
                    </a>
                  </h3>

                  <p class="text">
                    Fala ai pessoal, me chamo Joanderson Castro tenho 17 anos e estou no  2° ano do ensino médio!
                  </p>

                  <div class="meta">

                    <div onclick="window.location.href = 'https://www.instagram.com/joanderson_ffxx/';" class="publish-date">
                      <ion-icon name="logo-instagram"></ion-icon>

                      <time datetime="2022-03-07">@joanderson_ffxx</time>
                    </div>


                 
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="banner">
                  <a href="https://www.instagram.com/kaahlouise_/">
                    <img src="../static/images/blog-3.jpeg" width="75f0" height="350" loading="lazy"
                      alt="Fusce sem ligula, imperdiet sed nisi sit amet, euismod posuere." class="img-cover">
                  </a>
                </figure>

                <div class="content">

                  <h3 class="h3 title">
                    <a href="https://www.instagram.com/kaahlouise_/">
                      Karen Louise
                    </a>
                  </h3>

                  <p class="text">
                     Olá, me chamo Karen Louise tenho 17 anos e estou no 2° ano do ensino médio.
                  </p>

                  <div class="meta">

                    <div onclick="window.location.href = 'https://www.instagram.com/kaahlouise_/';" class="publish-date">
                      <ion-icon name="logo-instagram"></ion-icon>

                      <time datetime="2022-03-07">@kaahlouise_</time>
                    </div>


                  </div>

                </div>

              </div>
            </li>




            <li>
              <div class="blog-card">

                <figure class="banner">
                  <a href="https://www.instagram.com/pedrinn.sx6/">
                    <img src="../static/images/blog-4.jpeg" width="750" height="350" loading="lazy"
                      alt="Donec feugiat mollis nisi in dignissim. Morbi sollicitudin quis." class="img-cover">
                  </a>
                </figure>

                <div class="content">

                  <h3 class="h3 title">
                    <a href="https://www.instagram.com/pedrinn.sx6/">
                      Pedro Henrique
                    </a>
                  </h3>

                  <p class="text">
                    Eai pessoal, me chamo Pedro Henrique tenho 16 anos e estou no 2° ano do ensino médio.
                  </p>

                  <div class="meta">

                    <div onclick="window.location.href = 'https://www.instagram.com/pedrinn.sx6/';" class="publish-date">
                      <ion-icon name="logo-instagram"></ion-icon>

                      <time datetime="2022-03-07">@pedrinn.sx6</time>
                    </div>
 

                 

                  </div>

                </div>

              </div>
            </li>



            
            <li>
              <div class="blog-card">

                <figure class="banner">
                  <a href="https://www.instagram.com/fernandx.png/">
                    <img src="../static/images/mari.jpeg" width="750" height="350" loading="lazy"
                      alt="Donec feugiat mollis nisi in dignissim. Morbi sollicitudin quis." class="img-cover">
                  </a>
                </figure>

                <div class="content">

                  <h3 class="h3 title">
                    <a href="https://www.instagram.com/fernandx.png/">
                     Maria fernanda
                    </a>
                  </h3>

                  <p class="text">
                    Oiii galera, me chamo Maria Fernada tenho 17 anos e estou no 2° ano do ensino médio!
                  </p>

                  <div class="meta">

                    <div onclick="window.location.href = 'https://www.instagram.com/fernandx.png/';" class="publish-date">
                      <ion-icon name="logo-instagram"></ion-icon>

                      <time datetime="2022-03-07">@fernandx.png</time>
                    </div>

                  


                  </div>

                </div>

              </div>
            </li>


            
            
            <li>
              <div class="blog-card">

                <figure class="banner">
                  <a href="https://www.instagram.com/caio_santox/">
                    <img src="../static/images/caio.jpeg" width="750" height="350" loading="lazy"
                      alt="Donec feugiat mollis nisi in dignissim. Morbi sollicitudin quis." class="img-cover">
                  </a>
                </figure>

                <div class="content">

                  <h3 class="h3 title">
                    <a href="https://www.instagram.com/caio_santox/">
                     Caio Santos
                    </a>
                  </h3>

                  <p class="text">
                    Fala ai meu povo, me chamo Caio Santos tenho 17 anos e estou no 2° ano do ensino médio.
                  </p>

                  <div class="meta">

                    <div onclick="window.location.href = 'https://www.instagram.com/caio_santox/';" class="publish-date">
                      <ion-icon name="logo-instagram"></ion-icon>

                      <time datetime="2022-03-07">@caio_santox</time>
                    </div>

                 
                  </div>

                </div>

              </div>
            </li>







          </ul>

        </div>
      </section>

    </article>
  </main>







  <section class="section about" id="props">
    <div class="container">

      <figure class="about-banner">
        <img src="../static/images/peoples.png" width="700" height="532" loading="lazy" alt="about banner"
          class="w-100 banner-animation">
      </figure>

      <div class="about-content">

        <h2 class="h2 section-title underline">PROPOSTAS *FUTURAS* !!</h2>

        <p class="about-text">
          Nossa proposta com esse projeto é para o futuro, não só incentivar as escolas a trazerem mais projetos com conteúdo voltado para a tecnologia, robótica e sustentabilidade, mas também fazer deste projeto uma nova disciplina para o novo ensino médio.
        </p>

        <p class="about-text">
          Porque hoje já estamos na revolução 4.0, precisamos entender desde cedo como funciona a tecnologia, e até mesmo o desenvolvimento da lógica de programação, que estimula o processo criativo de jovens e adolescentes, além de fortalecer suas habilidades cognitivas, aprimorar resolução de problemas e relacioná-los com o seu futuro. Como algumas pesquisas mostram o que há de importante na lógica de programação, ela ajuda a aprender e a quebrar problemas em "partes" menores de acordo com a pesquisa do blog (SOS Tecnologia) Essa separação de "pedaços" ajuda a ver os contratempos da vida como um cálculo matemático de maneira mais lógica, pensando mais rápido em soluções práticas para resolvê-las.      
        </p>

      </div>

    </div>


  



  


  </section>




















  
  <div class="footer-bottom">
    <p class="copyright">
      <h2 class="h2 hero-title">EM BREVE!</h2>
      <p> MAIS INFORMAÇOES SOBRE O PROJETO ACONTECIMENTOS E REALIZAÇOES DEPENDEM DO FEEDBACK E DO APOIO DE VOCÊS ! ❤️  2022 &copy;.</p>
    </p>
  </div>


















  <!-- 
    - #FOOTER
  -->

  <footer class="footer" id="creds">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">BOX ESCOLAR</a>

          <p class="text">
            Bom pessoal, espero que tenham gostado do nosso trabalho, assim 
            como disse Steve Jobs (1955-2011): “ O trabalho vai preencher uma grande parte da sua vida, e a única maneira de ficar completamente satisfeito é fazer o que você acredita ser um bom trabalho. "
          </p>

          <ul class="social-list">

            <li>
              <a href="https://api.whatsapp.com/send?phone=5561992051433&text=Ol%C3%A1%20Thiago%20estou%20interresado%20em%20ajudar%20o%20projeto!!" class="social-link">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com/thiago4macedo/" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>


            <li>
              <a href="https://github.com/thiagoMacedoPRJ" class="social-link">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </li>

            <li>
              <a href="https://nubank.com.br/pagar/rbb9r/trxGp4Gfrx" class="social-link">
                <ion-icon name="logo-usd"></ion-icon>
              </a>
            </li>


          </ul>

        </div>

        
        

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">CRÉDITOS A EQUIPE DE 2022:</p>
          </li>

          <li>
            <a href="https://www.instagram.com/thiago4macedo/" class="footer-link">Thiago Macedo</a>
          </li>

          <li>
            <a href="https://www.instagram.com/joanderson_ffxx/" class="footer-link">Joanderson Castro</a>
          </li>

          <li>
            <a href="https://www.instagram.com/caio_santox/" class="footer-link">Caio Santos</a>
          </li>


          <li>
            <a href="https://www.instagram.com/kaahlouise_/" class="footer-link">Karen Louise</a>
          </li>


          <li>
            <a href="#" class="footer-link">Maria Fernada</a>
          </li>

          <li>
            <a href="https://www.instagram.com/pedrinn.sx6/" class="footer-link">Pedro Henrique</a>
          </li>

        </ul>



        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Veja novamente!</p>
          </li>

          <li>
            <a href="#about" class="footer-link">Sobre</a>
          </li>

          <li>
            <a href="#historia" class="footer-link">Historia</a>
          </li>

          <li>
            <a href="#blog" class="footer-link">Equipe</a>
          </li>

      

        </ul>








        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Entre em contato conosco:</p>
          </li>

          <li class="footer-item">

            <div class="footer-item-icon">
              <ion-icon name="call"></ion-icon>
            </div>

            <div>
              <a href="tel:+55 61 99205-1433" class="footer-item-link">+55 61 99205-1433</a>
              <a href="tel:+55 61 99296-6686" class="footer-item-link">+55 61 99296-6686</a>
            </div>

          </li>

          <li class="footer-item">

            <div class="footer-item-icon">
              <ion-icon name="mail"></ion-icon>
            </div>

            <div>
              <a  class="footer-item-link">thiagomacedo2344@gmail.com</a>
              <a  class="footer-item-link">box-escolar_help@gmail.com</a>
            </div>

          </li>

          <li class="footer-item">

            <div class="footer-item-icon">
              <ion-icon name="location"></ion-icon>
            </div>

            <a href="https://www.google.com/search?q=ced%20darcy%20ribeiro" class="footer-item-link">
              CED Darcy Ribeiro, Brasilia-DF, Paranoá 
            </a>

          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2022 <a href="https://www.instagram.com/thiago4macedo/" class="copyright-link">Thiago Macedo dos Santos</a>. Todos os direitos reservados.
      </p>
    </div>

  </footer>



  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top  active" aria-label="Go To Top" data-go-top>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>


  <!-- 
    - custom js link
  -->
  <script src="../static/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
